
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.container {
	position: relative;
	width: 500px;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
	width: 50%;
}

#secret {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1em;

	border: 1px solid #c2c2c2;
	box-shadow:none;
	border-radius: 0px;
	background-color: #f2f2f2;
}

#show {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1em;

	border: 0;
	background: #f2f2f2;
	box-shadow:none;
	border-radius: 0px;
}

#output {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: black;
	width: 50%;
	overflow: auto;
 	max-height: 10em;

	border: 1;
	background: #f2f2f2;
	box-shadow:none;
	border-radius: 0px;
}

#outlets {
	border-collapse: collapse;
	/* width: 100%; */
}

#outlets td, #outlets th {
	border: 1px solid #ddd;
	padding: 8px;
}

#outlets tr:nth-child(even) {
	background-color: #f2f2f2;
}

#outlets tr:hover {
	background-color: #ddd;
}

#outlets th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #c0c0c0;
	color: white;
}

.flyout {
	position: absolute;
    display: none;
    height: 50px;
    width: 100px;
	background: yellow;
}
